.section-dft
    .container
        ul.breadcrumbs
            li
                a(href="#").breadcrumbs__link Главная
            li
                a(href="#").breadcrumbs__link О Компании
    .container
        h1 Контакты
    .container
        .row
            .col-lg-4.col-md-6.contacts__item
                .contacts__title HR
                a(href="#").contacts__link-phone +7 (812) 765 43 21
                a(href="#").contacts__link-mail hr@xelent.ru
            .col-lg-4.col-md-6.contacts__item
                .contacts__title Маркетинг и реклама
                a(href="#").contacts__link-phone +7 (812) 765 43 21
                a(href="#").contacts__link-mail hr@xelent.ru
            .col-lg-4.col-md-6.contacts__item
                .contacts__title По вопросам партнерства
                a(href="#").contacts__link-phone +7 (812) 765 43 21
                a(href="#").contacts__link-mail hr@xelent.ru

            .col-lg-4.col-md-6.contacts__item
                .contacts__title Пресс-служба
                a(href="#").contacts__link-phone +7 (812) 765 43 21
                a(href="#").contacts__link-mail hr@xelent.ru
            .col-lg-4.col-md-6.contacts__item
                .contacts__title Закупки
                a(href="#").contacts__link-phone +7 (812) 765 43 21
                a(href="#").contacts__link-mail hr@xelent.ru

    .map
        .container
            .row
                .col-lg-6.col-md-8
                    .map__wrapper
                        .map__info-wrap
                            .map__info-head
                                a(href="#town-1" data-lat="59.963924" data-lng="30.341521").map__head-link.js-change-town.active
                                    span Санкт-петербург
                                a(href="#town-2" data-lat="55.743290" data-lng="37.650329").map__head-link.js-change-town
                                    span Москва
                            .map__info-body
                                .map__info-wrapper.active#town-1
                                    .map__info-adress.
                                        194362, г. Санкт-Петербург,<br>
                                        Выборгское шоссе, д. 503, корп. 12
                                    .map__info-title По общим вопросам
                                    .map__info-inner
                                        .map__link-wrapper
                                            a(href="#").map__info-link +7 (812) 765 43 21
                                    .map__info-title Круглосуточная диспетчерская служба sdn.spb
                                    .map__info-inner
                                        .map__link-wrapper
                                            a(href="#").map__info-link +7 (812) 765 43 21
                                        .map__link-wrapper
                                            a(href="#").map__info-link +7 (812) 765 43 21
                                            span (дежурный оператор)

                                    .map__mail-inner
                                        .map__mail-wrapper
                                            a(href="#").map__mail-link info@xelent.ru
                                            span - по общим вопросам
                                    .map__mail-inner
                                        .map__mail-wrapper
                                            a(href="#").map__mail-link support@xelent.ru
                                            span - для запросов в диспетчерскую службу
                                    a(href="callto:sdn_support").map__skype.
                                        sdn_support


                                .map__info-wrapper#town-2
                                    .map__info-adress.
                                        194362, г. Москва,<br>
                                        Выборгское шоссе, д. 503, корп. 12
                                    .map__info-title По общим вопросам
                                    .map__info-inner
                                        .map__link-wrapper
                                            a(href="#").map__info-link +7 (812) 765 43 21
                                    .map__info-title Круглосуточная диспетчерская служба sdn.spb
                                    .map__info-inner
                                        .map__link-wrapper
                                            a(href="#").map__info-link +7 (812) 765 43 21
                                        .map__link-wrapper
                                            a(href="#").map__info-link +7 (812) 765 43 21
                                            span (дежурный оператор)

                                    .map__mail-inner
                                        .map__mail-wrapper
                                            a(href="#").map__mail-link info@xelent.ru
                                            span - по общим вопросам
                                    .map__mail-inner
                                        .map__mail-wrapper
                                            a(href="#").map__mail-link support@xelent.ru
                                            span - для запросов в диспетчерскую службу
                                    a(href="callto:sdn_support").map__skype.
                                        sdn_support

        #map
.section-dft
    .how-get
        .container
            h3.color-grey.text-center.how-get__title.
                Как добраться
            .row
                .why-us__item.clearfix.how-get__item
                    .col-xl-2.col-xl-offset-1.col-lg-3.col-md-4
                        .why-us__image-wrap
                            img(src="upload/howget-1.svg")
                    .col-xl-8.col-lg-9.col-md-8
                        .why-us__text
                            p.
                                Наш технологический комплекс расположен вблизи от транспортной развязки Выборгского шоссе и КАД – рядом с Российской Стекольной Компанией. Точное место на карте навигатора Вы можете определить по координатам 60.101141,30.272566.
                            p.
                                Добираться к нам удобно как на автомобиле (на территории имеется парковка на 80 мест), так и общественным транспортом (ок. 10 минут от ближайшей станции метро «Парнас»). Расчётное время пути 10 мин от ближайшей станции метро,  60 мин. от аэропорта «Пулково».
                .why-us__item.clearfix.how-get__item
                    .col-xl-2.col-xl-offset-1.col-lg-3.col-md-4
                        .why-us__image-wrap.how-get__image
                            img(src="upload/howget-2.svg")
                    .col-xl-8.col-lg-9.col-md-8
                        .why-us__title.how-get__item-title.
                            На автомобиле
                        .why-us__text
                            p.
                                Двигаясь по внешнему кольцу (синяя линия на карте): при съезде с КАД на Парголово выберите первый (небольшой) поворот направо увидите Максидом.
                            p.
                                При движении по внутреннему кольцу (фиолетовая линия на карте): поверните на Парголово, далее поверните к Максидому и, проехав парковку Максидома, следуйте прямо по небольшой асфальтированной дороге в направлении, противоположном движению на КАД.
                            p.
                                При движении по Выборгскому шоссе (зелёная линия на карте): проехав мост через КАД, выберите первый правый съезд, увидите Prisma, далее поверните налево, на мост к "Максидому". Проехав парковку "Максидома", следуйте прямо по небольшой асфальтированной дороге в направлении, противоположном движению на КАД.
                .why-us__item.clearfix.how-get__item
                    .col-xl-2.col-xl-offset-1.col-lg-3.col-md-4
                        .why-us__image-wrap.how-get__image
                            img(src="upload/howget-3.svg")
                    .col-xl-8.col-lg-9.col-md-8
                        .why-us__title.how-get__item-title.
                            На общественном транспорте
                        .why-us__text
                            p.
                                От метро «Озерки»: автобус № 109; маршрутное такси № 259, 673
                                От метро «Пр. Просвещения»: автобус: № 75, 104, 433, 434, 436, 444, 435, 567, 690; маршрутное такси:№ 261, 433, 434, 436, 680
                            p.
                                Ехать до супермаркета "Максидом" (попросите остановиться у Максидома, он будет справа по ходу движения). Далее, не переходя дорогу, пешком мимо "Максидома", через парковку и далее по дороге (желтая линия на карте) 800 метров параллельно КАД, ориентируясь на фасад нашего здания.


    .excursions.excursions--contacts
        .container
            .excursions__container
                .row
                    .excursions__bg
                        img(src="upload/bitmap_8.jpg" srcset="upload/bitmap_8@2x.jpg 2x, upload/bitmap_8@3x.jpg 3x").about-us__bg-img
                        .excursions__ie-fallback(style="background:url(upload/bitmap_8.jpg) center center; background-size: cover;")
                    .col-lg-7.col-lg-offset-1
                        .excursions__title.
                            Экскурсия
                        .excursions__sub-title.
                            Закажите эксурсию в наш ЦОД, обещаем нам есть чем удивить
                    .col-lg-4
                        a(href="#").btn-dft Перезвонить мне
    .callback.callback--contacts
        .container
            .callback__title.title-dft.
                Написать нам
            .row
                .col-lg-6.col-lg-offset-3.text-center.callback__sub-title
                    p.
                        Если у Вас остались вопросы, вы можете оставить заявку.<br> Мы вам перезвоним и проконсультируем.
        .container
            .row
                .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3
                    form#callback-form
                        .form-group
                            input(type="text" placeholder="Ваше имя" name="name")
                        .form-group
                            input(type="number" placeholder="Номер телефона" name="phone")
                        .form-group
                            select(data-placeholder="Тема сообщения").js-styler.style-select
                                option
                                option Пункт 1
                                option Пункт 2
                                option Пункт 3
                                option Пункт 4
                                option Пункт 5
                                option Пункт 1
                                option Пункт 2
                                option Пункт 3
                                option Пункт 4
                                option Пункт 5
                        .form-group
                            textarea.textarea
                        .form-group.text-center
                            button(type="submit").btn-dft.
                                Перезвонить мне
