.section-dft
    .container
        ul.breadcrumbs
            li
                a(href="#").breadcrumbs__link Главная
            li
                a(href="#").breadcrumbs__link О Компании
            li
                a(href="#").breadcrumbs__link Дата-центр
    .container
        h1 Дата-центр
    .data-center(style="background: url(upload/banner-1.jpg) no-repeat center center; background-size:cover;")
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .data-center__title.text-center Data-center
                    .data-center__text.text-center.
                        В дата-центре SDN есть все условия как для размещения отдельных серверов, так и для аренды автономных ячеек под готовый к эксплуатации корпоративный ЦОД или удалённую точку присутствия оператора связи. Работа дата-центра и его персонала осуществляется в круглосуточном режиме без выходных дней, и предполагает оперативность доступа персонала в клиентскую зону в течение 15 минут с момента подачи заявки через сайт или звонком по телефону.
            .data-center__info
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Более
                        .data-center__item-text 1400 стоек
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Мощность
                        .data-center__item-text 14 мВт
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Площадь участка
                        .data-center__item-text 3,05 Га

    .data-center(style="background: url(upload/banner-2.jpg) no-repeat center center; background-size:cover;")
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .data-center__title.text-center Система электроснабжения
                    .data-center__text.text-center.
                        В дата-центре SDN есть все условия как для размещения отдельных серверов, так и для аренды автономных ячеек под готовый к эксплуатации корпоративный ЦОД или удалённую точку присутствия оператора связи. Работа дата-центра и его персонала осуществляется в круглосуточном режиме без выходных дней, и предполагает оперативность доступа персонала в клиентскую зону в течение 15 минут с момента подачи заявки через сайт или звонком по телефону.
            .data-center__info
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title ИБП
                        .data-center__item-text Динамические
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Две линии по
                        .data-center__item-text 110 кВт
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Схема резервирования
                        .data-center__item-text N+1


    .data-center(style="background: url(upload/banner-3.jpg) no-repeat center center; background-size:cover;")
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .data-center__title.text-center Система охлаждения
                    .data-center__text.text-center.
                        В дата-центре SDN есть все условия как для размещения отдельных серверов, так и для аренды автономных ячеек под готовый к эксплуатации корпоративный ЦОД или удалённую точку присутствия оператора связи. Работа дата-центра и его персонала осуществляется в круглосуточном режиме без выходных дней, и предполагает оперативность доступа персонала в клиентскую зону в течение 15 минут с момента подачи заявки через сайт или звонком по телефону.
            .data-center__info
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Технология охлаждения
                        .data-center__item-text Free Cooling
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Температура в залах
                        .data-center__item-text 25 °C
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Энергоэффективность
                        .data-center__item-text PUE=1,2



    .data-center(style="background: url(upload/banner-4.jpg) no-repeat center center; background-size:cover;")
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .data-center__title.text-center Система пожаротушения
                    .data-center__text.text-center.
                        В дата-центре SDN есть все условия как для размещения отдельных серверов, так и для аренды автономных ячеек под готовый к эксплуатации корпоративный ЦОД или удалённую точку присутствия оператора связи. Работа дата-центра и его персонала осуществляется в круглосуточном режиме без выходных дней, и предполагает оперативность доступа персонала в клиентскую зону в течение 15 минут с момента подачи заявки через сайт или звонком по телефону.
            .data-center__info
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Система обнаружения дыма
                        .data-center__item-text Vesda
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Система автоматического
                        .data-center__item-text Пожаротушения


    .data-center(style="background: url(upload/banner-5.jpg) no-repeat center center; background-size:cover;")
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .data-center__title.text-center Телекоммуникации
                    .data-center__text.text-center.
                        В дата-центре SDN есть все условия как для размещения отдельных серверов, так и для аренды автономных ячеек под готовый к эксплуатации корпоративный ЦОД или удалённую точку присутствия оператора связи. Работа дата-центра и его персонала осуществляется в круглосуточном режиме без выходных дней, и предполагает оперативность доступа персонала в клиентскую зону в течение 15 минут с момента подачи заявки через сайт или звонком по телефону.
            .data-center__info
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Телекоммуникационных ввода
                        .data-center__item-text 2
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Собственные ВОЛС
                        .data-center__item-text Carrier neutral



    .data-center(style="background: url(upload/banner-6.jpg) no-repeat center center; background-size:cover;")
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    .data-center__title.text-center Безопастность
                    .data-center__text.text-center.
                        В дата-центре SDN есть все условия как для размещения отдельных серверов, так и для аренды автономных ячеек под готовый к эксплуатации корпоративный ЦОД или удалённую точку присутствия оператора связи. Работа дата-центра и его персонала осуществляется в круглосуточном режиме без выходных дней, и предполагает оперативность доступа персонала в клиентскую зону в течение 15 минут с момента подачи заявки через сайт или звонком по телефону.
            .data-center__info
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Охрана центра
                        .data-center__item-text 24/7
                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Камер наблюдений
                        .data-center__item-text 200

                .data-center__item
                    .data-center__wrapper
                        .data-center__item-title Система
                        .data-center__item-text СКУД
.section-dft.callback__section
    .container
        .row
            .col-xl-8.col-xl-offset-2
                .data-center__callback-form
                    .callback__title.title-dft.
                        Форма обратной связи
                    .row
                        .col-lg-10.col-lg-offset-1.text-center.callback__sub-title
                            p.
                                Если у Вас остались вопросы, вы можете оставить заявку.<br> Мы вам перезвоним и проконсультируем.
                        .col-lg-6.col-lg-offset-3.col-md-6.col-md-offset-3
                            form#callback-form
                                .form-group
                                    label
                                        input(type="text" name="name")
                                        span.input-placeholder Ваше имя
                                .form-group
                                    label
                                        input(type="number" name="phone")
                                        span.input-placeholder Номер телефона
                                .form-group.text-center
                                    button(type="submit").btn-dft.
                                        Перезвонить мне
    .container
        h3.text-center.color-grey.photo-gallery__title Фотогалерея
    .photo-gallery__wrapper
        .photo-gallery__photo-bg.photo-gallery__photo-bg--left(style="background: url(upload/gallery-left.jpg) no-repeat center center;background-size:cover;")
        .photo-gallery__photo-bg.photo-gallery__photo-bg--right(style="background: url(upload/gallery-right.jpg) no-repeat center center;background-size:cover;")
        .container
            a(href="#" data-slider="slickPrev").photo-gallery__arrow.photo-gallery__arrow--left.js-arrows
                +icon('left')
            a(href="#" data-slider="slickNext").photo-gallery__arrow.photo-gallery__arrow--right.js-arrows
                +icon('right')
            .row
                .col-xl-10.col-xl-offset-1
                    .photo-gallery__main.js-gallery
                        .photo-gallery__slide
                            img(src="upload/photo-main.jpg" srcset="upload/photo-main@2x.jpg 2x,upload/photo-main@3x.jpg 3x" alt="")

                        .photo-gallery__slide
                            img(src="upload/photo-main.jpg" srcset="upload/photo-main@2x.jpg 2x,upload/photo-main@3x.jpg 3x" alt="")
.excursions.excursions--data-center
    .container
        .excursions__container
            .row
                .excursions__bg
                    img(src="upload/bitmap_8.jpg" srcset="upload/bitmap_8@2x.jpg 2x, upload/bitmap_8@3x.jpg 3x").about-us__bg-img
                    .excursions__ie-fallback(style="background:url(upload/bitmap_8.jpg) center center; background-size: cover;")
                .col-lg-7.col-lg-offset-1
                    .excursions__title.
                        Экскурсия
                    .excursions__sub-title.
                        Закажите эксурсию в наш ЦОД, обещаем нам есть чем удивить
                .col-lg-4
                    a(href="#").btn-dft Перезвонить мне
