.section-dft
    .container
        ul.breadcrumbs
            li
                a(href="#").breadcrumbs__link Главная
            li
                a(href="#").breadcrumbs__link Пресс-Центр
            li
                a(href="#").breadcrumbs__link Документы
    .container
        h1 Документы
    .documents__main-wrapper
        .documents__wrap
            .container
                h3.color-grey.documents__wrap-title Лицензии
                p.documents__wrap-sub-title.
                    В дата-центре SDN есть все условия как для размещения отдельных серверов, так и для аренды автономных ячеек под готовый к эксплуатации корпоративный ЦОД или удалённую точку присутствия оператора связи. Работа дата-центра и его персонала осуществляется в круглосуточном режиме без выходных дней, и предполагает оперативность доступа персонала в клиентскую зону в течение 15 минут с момента подачи заявки через сайт.
                .row
                    .documents__item.js-height.col-md-6
                        .documents__img-wrap
                            img(src="upload/license-1.jpg" srcset="upload/license-1@2x.jpg 2x, upload/license-1@3x.jpg 3x" )
                        .documents__text-wrap
                            .documents__title.
                                Лицензия №90186731
                            .documents__sub-title.
                                Предоставление услуг связи по передаче данных, за исключением услуг связи по передаче данных для целей передачи голосовой информации
                            a(href="#").doc-btn
                                span.doc-btn__icon
                                    +icon ('eye-icon')
                                span.doc-btn__text.
                                    Смотреть
                    .documents__item.js-height.col-md-6
                        .documents__img-wrap
                            img(src="upload/license-1.jpg" srcset="upload/license-1@2x.jpg 2x, upload/license-1@3x.jpg 3x" )
                        .documents__text-wrap
                            .documents__title.
                                Лицензия №90186731
                            .documents__sub-title.
                                Предоставление услуг связи по передаче данных, за исключением услуг связи по передаче данных для целей передачи голосовой информации
                            a(href="#").doc-btn
                                span.doc-btn__icon
                                    +icon ('eye-icon')
                                span.doc-btn__text.
                                    Смотреть
                    .documents__item.js-height.col-md-6
                        .documents__img-wrap
                            img(src="upload/license-1.jpg" srcset="upload/license-1@2x.jpg 2x, upload/license-1@3x.jpg 3x" )
                        .documents__text-wrap
                            .documents__title.
                                Лицензия №90186731
                            .documents__sub-title.
                                Предоставление услуг связи по передаче данных, за исключением услуг связи по передаче данных для целей передачи голосовой информации
                            a(href="#").doc-btn
                                span.doc-btn__icon
                                    +icon ('eye-icon')
                                span.doc-btn__text.
                                    Смотреть
                    .documents__item.js-height.col-md-6
                        .documents__img-wrap
                            img(src="upload/license-1.jpg" srcset="upload/license-1@2x.jpg 2x, upload/license-1@3x.jpg 3x" )
                        .documents__text-wrap
                            .documents__title.
                                Лицензия №90186731
                            .documents__sub-title.
                                Предоставление услуг связи по передаче данных, за исключением услуг связи по передаче данных для целей передачи голосовой информации
                            a(href="#").doc-btn
                                span.doc-btn__icon
                                    +icon ('eye-icon')
                                span.doc-btn__text.
                                    Смотреть
                    .documents__item.js-height.col-md-6
                        .documents__img-wrap
                            img(src="upload/license-2.jpg" srcset="upload/license-2@2x.jpg 2x, upload/license-2@3x.jpg 3x" )
                        .documents__text-wrap
                            .documents__title.
                                Лицензия №90186731
                            .documents__sub-title.
                                Предоставление услуг связи по передаче данных, за исключением услуг связи по передаче данных для целей передачи голосовой информации
                            a(href="#").doc-btn
                                span.doc-btn__icon
                                    +icon ('eye-icon')
                                span.doc-btn__text.
                                    Смотреть

        .documents__wrap
            .container
                h3.color-grey.documents__wrap-title Договора
                p.documents__wrap-sub-title.
                    В дата-центре SDN есть все условия как для размещения отдельных серверов, так и для аренды автономных ячеек под готовый к эксплуатации корпоративный ЦОД или удалённую точку присутствия оператора связи. Работа дата-центра и его персонала осуществляется в круглосуточном режиме без выходных дней, и предполагает оперативность доступа персонала в клиентскую зону в течение 15 минут с момента подачи заявки через сайт.
                .row
                    .documents__item.js-height.col-md-6
                        .documents__img-wrap
                            .documents__icon-wrap
                                +icon('d-o-c-icon')
                        .documents__text-wrap
                            .documents__title.
                                Договор аренды
                            .documents__sub-title.
                                Предоставление услуг связи по передаче данных, за исключением услуг связи по передаче данных для целей передачи голосовой информации
                            a(href="#").doc-btn
                                span.doc-btn__icon.doc-btn__icon--download
                                    +icon ('cloud-download')
                                span.doc-btn__text
                                    | Скачать
                                    span.doc-btn__size.
                                        .doc (2,3 Mb)
                    .documents__item.js-height.col-md-6
                        .documents__img-wrap
                            .documents__icon-wrap
                                +icon('d-o-c-icon')
                        .documents__text-wrap
                            .documents__title.
                                Договор лояльности
                            .documents__sub-title.
                                Предоставление услуг связи по передаче данных для целей передачи голосовой информации
                            a(href="#").doc-btn
                                span.doc-btn__icon.doc-btn__icon--download
                                    +icon ('cloud-download')
                                span.doc-btn__text
                                    | Скачать
                                    span.doc-btn__size.
                                        .doc (2,3 Mb)



                    .documents__item.js-height.col-md-6
                        .documents__img-wrap
                            .documents__icon-wrap
                                +icon('d-o-c-icon')
                        .documents__text-wrap
                            .documents__title.
                                Договор на честность
                            .documents__sub-title.
                                Предоставление услуг связи по передаче данных, за исключением услуг связи по передаче данных для целей передачи голосовой информации
                            a(href="#").doc-btn
                                span.doc-btn__icon.doc-btn__icon--download
                                    +icon ('cloud-download')
                                span.doc-btn__text
                                    | Скачать
                                    span.doc-btn__size.
                                        .doc (2,3 Mb)
                    .documents__item.js-height.col-md-6
                        .documents__img-wrap
                            .documents__icon-wrap
                                +icon('x-m-l-icon')
                        .documents__text-wrap
                            .documents__title.
                                Безвозмездный договор
                            .documents__sub-title.
                                Предоставление услуг связи по передаче данных для целей передачи голосовой информации
                            a(href="#").doc-btn
                                span.doc-btn__icon.doc-btn__icon--download
                                    +icon ('cloud-download')
                                span.doc-btn__text
                                    | Скачать
                                    span.doc-btn__size.
                                        .xml (2,3 Mb)
        .documents__wrap
            .container
                h3.color-grey.documents__wrap-title Правила посещения
                p.documents__wrap-sub-title.
                    В дата-центре SDN есть все условия как для размещения отдельных серверов, так и для аренды автономных ячеек под готовый к эксплуатации корпоративный ЦОД или удалённую точку присутствия оператора связи. Работа дата-центра и его персонала осуществляется в круглосуточном режиме без выходных дней, и предполагает оперативность доступа персонала в клиентскую зону в течение 15 минут с момента подачи заявки через сайт.
                .row
                    .documents__item.js-height.col-md-6
                        .documents__img-wrap
                            .documents__icon-wrap
                                +icon('d-o-c-icon')
                        .documents__text-wrap
                            .documents__title.
                                Правила посещения для групп
                            .documents__sub-title.
                                Предоставление услуг связи по передаче данных, за исключением услуг связи по передаче данных для целей передачи голосовой информации
                            a(href="#").doc-btn
                                span.doc-btn__icon.doc-btn__icon--download
                                    +icon ('cloud-download')
                                span.doc-btn__text
                                    | Скачать
                                    span.doc-btn__size.
                                        .doc (2,3 Mb)
                    .documents__item.js-height.col-md-6
                        .documents__img-wrap
                            .documents__icon-wrap
                                +icon('p-d-f-icon')
                        .documents__text-wrap
                            .documents__title.
                                Договор лояльности
                            .documents__sub-title.
                                Предоставление услуг связи по передаче данных для целей передачи голосовой информации
                            a(href="#").doc-btn
                                span.doc-btn__icon.doc-btn__icon--download
                                    +icon ('cloud-download')
                                span.doc-btn__text
                                    | Скачать
                                    span.doc-btn__size.
                                        .pdf (2,3 Mb)
        .documents__wrap
            .container
                h3.color-grey.documents__wrap-title Брэндбук
                p.documents__wrap-sub-title.
                    В дата-центре SDN есть все условия как для размещения отдельных серверов, так и для аренды автономных ячеек под готовый к эксплуатации корпоративный ЦОД или удалённую точку присутствия оператора связи. Работа дата-центра и его персонала осуществляется в круглосуточном режиме без выходных дней, и предполагает оперативность доступа персонала в клиентскую зону в течение 15 минут с момента подачи заявки через сайт.
                .row
                    .documents__item.js-height.col-md-6
                        .documents__img-wrap
                            .documents__icon-wrap
                                +icon('p-d-f-icon')
                        .documents__text-wrap
                            .documents__title.
                                Фирменный стиль
                            .documents__sub-title.
                                Предоставление услуг связи по передаче данных для целей передачи голосовой информации
                            a(href="#").doc-btn
                                span.doc-btn__icon.doc-btn__icon--download
                                    +icon ('cloud-download')
                                span.doc-btn__text
                                    | Скачать
                                    span.doc-btn__size.
                                        .pdf (2,3 Mb)
.callback.callback--documents
    .container
        .callback__title.title-dft.
            Форма обратной связи
        .row
            .col-lg-6.col-lg-offset-3.text-center.callback__sub-title
                p.
                    Если у Вас остались вопросы, вы можете оставить заявку.<br> Мы вам перезвоним и проконсультируем.
    .container
        .row
            .col-lg-4.col-lg-offset-4.col-md-6.col-md-offset-3
                form#callback-form
                    .form-group
                        input(type="text" placeholder="Ваше имя" name="name")
                    .form-group
                        input(type="number" placeholder="Номер телефона" name="phone")
                    .form-group.text-center
                        button(type="submit").btn-dft.
                            Перезвонить мне
