header.wrapper.header#header
    .header__top-wrap
        .container
            .header__top-wrapper.clearfix
                a(href="index.html").header__logo
                    img(src="images/xelent.svg" width="180" height="55" alt="logo")
                .header__feedback-wrap.clearfix
                    .header__feedback-item
                        .header__feedback-title.
                            Санкт-Петербург
                        a(href="#").header__feedback-link.
                            +7 812 319-00-04
                    .header__feedback-item
                        .header__feedback-title.
                            Москва
                        a(href="#").header__feedback-link.
                            8 495 980-60-09
                    .header__feedback-item
                        .header__feedback-title.
                            Поддержка
                        a(href="#").header__feedback-link.
                            8 812 319-00-03
                a(href="#").header__mail.
                    sales@stackdata.net
                a(href="#").header__search.js-show-search
                    +icon('search')
                .header__search-wrap
                    button(type="submit").header__search-submit
                        +icon('search')
                    input(type="text" placeholder="Поиск").header__search-input
                    a(href="#").header__search-wrap-close.js-close-search
                        +icon('close')
    .header__bottom-wrap
        .container
            a(href="#").header__mobile.js-show-menu
                span
            nav
                ul.header__menu
                    li.header__menu-item
                        a(href="#").header__menu-link.
                            Colocation
                    li.header__menu-item
                        a(href="#").header__menu-link.header__menu-link--dropdown.js-mobile-drop.
                            IaaS
                        .header__drop
                            .container
                                ul.header__drop-menu
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Пакетные тарифы IaaS
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Удаленные рабочие места
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Виртуальный дата цент
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            152 ФЗ
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Облачное хранилище
                    li.header__menu-item
                        a(href="#").header__menu-link.
                            Dedicated
                    li.header__menu-item
                        a(href="#").header__menu-link.header__menu-link--dropdown.js-mobile-drop.
                            Предложение
                        .header__drop
                            .container
                                ul.header__drop-menu
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Пакетные тарифы IaaS
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Удаленные рабочие места
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Виртуальный дата цент
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            152 ФЗ
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Облачное хранилище
                    li.header__menu-item
                        a(href="#").header__menu-link.header__menu-link--dropdown.js-mobile-drop.
                            О Компании
                        .header__drop
                            .container
                                ul.header__drop-menu
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Пакетные тарифы IaaS
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Удаленные рабочие места
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Виртуальный дата цент

                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Облачное хранилище
                    li.header__menu-item
                        a(href="#").header__menu-link.header__menu-link--dropdown.js-mobile-drop.
                            Пресс-Центр
                        .header__drop
                            .container
                                ul.header__drop-menu
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Пакетные тарифы IaaS
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Удаленные рабочие места
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Виртуальный дата цент
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            152 ФЗ
                                    li.header__drop-menu-item
                                        a(href="#").header__drop-menu-link.
                                            Облачное хранилище
                    li.header__menu-item
                        a(href="#").header__menu-link.
                            Контакты
