.section-dft
    .container
        ul.breadcrumbs
            li
                a(href="#").breadcrumbs__link Главная
            li
                a(href="#").breadcrumbs__link Пресс-Центр
            li
                a(href="#").breadcrumbs__link Новости
    .container
        h1 Новости
        .news__filter-list.clearfix
            - var list = ['Сервер','Intel','DDoS','SSL','Хостинг']
            each listItem in list
                a(href="#").news__filter-link= listItem
    .news
        .container
            .news__main-list
                .row
                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5.jpg"   srcset="upload/rectangle-5@2x.jpg 2x,     upload/rectangle-5@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.
                                    18 февраля 2017
                                .news__info-author.
                                    Александр Александров
                            a(href="#").news__info-name.
                                Конференция ActiveRetail 2017: как «облачные» продукты помогут белорусской торговле?
                            .news__info-preview.
                                Дата-центр СДН предлагает в аренду виртуальную инфраструктуру – гибкое решение для создания собственного парка виртуальных серверов…
                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_2.jpg"   srcset="upload/rectangle-5_2@2x.jpg 2x,     upload/rectangle-5_2@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.
                                    18 февраля 2017
                                .news__info-author.
                                    Александр Александров
                            a(href="#").news__info-name.
                                Мы расширили линейку тарифов Битрикс-хостинга!
                            .news__info-preview.
                                Теперь к трём тарифам «облачного» BitrixCloud добавилось два тарифа BitrixHost – недорогого, но надежного и производительного виртуального хостинга для проектов на платформе Битрикс…

                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_3.jpg"   srcset="upload/rectangle-5_3@2x.jpg 2x,     upload/rectangle-5_3@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.
                                    18 февраля 2017
                                .news__info-author.
                                    Александр Александров
                            a(href="#").news__info-name.
                                Мастер-класс Xelent по 1С: почему франчайзи стоит выбрать «облако»
                            .news__info-preview.
                                24 ноября 2016 года в аудитории минской «Академии Webcom» прошёл очередной мастер-класс. На этот раз мы собрали представителей российского 1С-франчайзи…
                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_4.jpg"   srcset="upload/rectangle-5_4@2x.jpg 2x,     upload/rectangle-5_4@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.
                                    18 февраля 2017
                                .news__info-author.
                                    Александр Александров
                            a(href="#").news__info-name.
                                Xelent вошла в ТОП-3 российских облачных поставщиков согласно исследованию IDC
                            .news__info-preview.
                                Войти в ТОП-3 компании удалось благодаря высокому качеству услуг, широкому выбору облачных сервисов и постоянным инновациям…
                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_5.jpg"   srcset="upload/rectangle-5_5@2x.jpg 2x,     upload/rectangle-5_5@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.
                                    18 февраля 2017
                                .news__info-author.
                                    Александр Александров
                            a(href="#").news__info-name.
                                Эксперт Xelent рассказал журналу "Безопасность деловой информации" об архитектуре G-Cloud в облаках
                            .news__info-preview.
                                В свежем номере журнала "Безопасность деловой информации" (№ 15, III квартал 2016 года) опубликована …

                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_6.jpg"   srcset="upload/rectangle-5_6@2x.jpg 2x,     upload/rectangle-5_6@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.
                                    18 февраля 2017
                                .news__info-author.
                                    Александр Александров
                            a(href="#").news__info-name.
                                Мастер-класс по BI-системе QlikView: от неудобных отчётов к настоящей аналитике
                            .news__info-preview.
                                В свежем номере журнала "Безопасность деловой информации" (№ 15, III квартал 2016 года) опубликована …
                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5.jpg"   srcset="upload/rectangle-5@2x.jpg 2x,     upload/rectangle-5@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.
                                    18 февраля 2017
                                .news__info-author.
                                    Александр Александров
                            a(href="#").news__info-name.
                                Конференция ActiveRetail 2017: как «облачные» продукты помогут белорусской торговле?
                            .news__info-preview.
                                Дата-центр СДН предлагает в аренду виртуальную инфраструктуру – гибкое решение для создания собственного парка виртуальных серверов…
                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_2.jpg"   srcset="upload/rectangle-5_2@2x.jpg 2x,     upload/rectangle-5_2@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.
                                    18 февраля 2017
                                .news__info-author.
                                    Александр Александров
                            a(href="#").news__info-name.
                                Мы расширили линейку тарифов Битрикс-хостинга!
                            .news__info-preview.
                                Теперь к трём тарифам «облачного» BitrixCloud добавилось два тарифа BitrixHost – недорогого, но надежного и производительного виртуального хостинга для проектов на платформе Битрикс…

                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_3.jpg"   srcset="upload/rectangle-5_3@2x.jpg 2x,     upload/rectangle-5_3@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.
                                    18 февраля 2017
                                .news__info-author.
                                    Александр Александров
                            a(href="#").news__info-name.
                                Мастер-класс Xelent по 1С: почему франчайзи стоит выбрать «облако»
                            .news__info-preview.
                                24 ноября 2016 года в аудитории минской «Академии Webcom» прошёл очередной мастер-класс. На этот раз мы собрали представителей российского 1С-франчайзи…
                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_4.jpg"   srcset="upload/rectangle-5_4@2x.jpg 2x,     upload/rectangle-5_4@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.
                                    18 февраля 2017
                                .news__info-author.
                                    Александр Александров
                            a(href="#").news__info-name.
                                Xelent вошла в ТОП-3 российских облачных поставщиков согласно исследованию IDC
                            .news__info-preview.
                                Войти в ТОП-3 компании удалось благодаря высокому качеству услуг, широкому выбору облачных сервисов и постоянным инновациям…
                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_5.jpg"   srcset="upload/rectangle-5_5@2x.jpg 2x,     upload/rectangle-5_5@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.
                                    18 февраля 2017
                                .news__info-author.
                                    Александр Александров
                            a(href="#").news__info-name.
                                Эксперт Xelent рассказал журналу "Безопасность деловой информации" об архитектуре G-Cloud в облаках
                            .news__info-preview.
                                В свежем номере журнала "Безопасность деловой информации" (№ 15, III квартал 2016 года) опубликована …

                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_6.jpg"   srcset="upload/rectangle-5_6@2x.jpg 2x,     upload/rectangle-5_6@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.
                                    18 февраля 2017
                                .news__info-author.
                                    Александр Александров
                            a(href="#").news__info-name.
                                Мастер-класс по BI-системе QlikView: от неудобных отчётов к настоящей аналитике
                            .news__info-preview.
                                В свежем номере журнала "Безопасность деловой информации" (№ 15, III квартал 2016 года) опубликована …
        .container.text-center
            ul.pagination.news__pagination
                li
                    a(href="#").active  1
                li
                    a(href="#") 2
                li
                    a(href="#") 3
                li
                    a(href="#") 4
                li
                    a(href="#") 5
                li
                    a(href="#") ...
                li
                    a(href="#") 36
                li
                    a(href="#") 37
                li
                    a(href="#") 38
                li.pagination__nav-btn.next
                    a(href="#")
                        +icon('next')
