.section-dft
    .container
        ul.breadcrumbs
            li
                a(href="#").breadcrumbs__link Главная
            li
                a(href="#").breadcrumbs__link Информационный центр
            li
                a(href="#").breadcrumbs__link Фото
    .container
        h1 Новости
    .news
        .container
            .news__main-list
                .row
                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5.jpg"   srcset="upload/rectangle-5@2x.jpg 2x,     upload/rectangle-5@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.news__info-date--photo.
                                    18 февраля 2017

                            a(href="#").news__info-name.
                                Тренинг по KyotoCooling

                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_2.jpg"   srcset="upload/rectangle-5_2@2x.jpg 2x,     upload/rectangle-5_2@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.news__info-date--photo.
                                    18 февраля 2017

                            a(href="#").news__info-name.
                                Рабочее совещание Ассоциации Российских Банков с участием SDN.


                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_3.jpg"   srcset="upload/rectangle-5_3@2x.jpg 2x,     upload/rectangle-5_3@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.news__info-date--photo.
                                    18 февраля 2017

                            a(href="#").news__info-name.
                                Участие в совещании Ассоциации Российских банков

                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_4.jpg"   srcset="upload/rectangle-5_4@2x.jpg 2x,     upload/rectangle-5_4@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.news__info-date--photo.
                                    18 февраля 2017

                            a(href="#").news__info-name.
                                Xelent вошла в ТОП-3 российских облачных поставщиков согласно исследованию IDC

                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_5.jpg"   srcset="upload/rectangle-5_5@2x.jpg 2x,     upload/rectangle-5_5@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.news__info-date--photo.
                                    18 февраля 2017

                            a(href="#").news__info-name.
                                Эксперт Xelent рассказал журналу "Безопасность деловой информации" об архитектуре G-Cloud в облаках


                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_6.jpg"   srcset="upload/rectangle-5_6@2x.jpg 2x,     upload/rectangle-5_6@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.news__info-date--photo.
                                    18 февраля 2017

                            a(href="#").news__info-name.
                                Мастер-класс по BI-системе QlikView: от неудобных отчётов к настоящей аналитике

                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5.jpg"   srcset="upload/rectangle-5@2x.jpg 2x,     upload/rectangle-5@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.news__info-date--photo.
                                    18 февраля 2017

                            a(href="#").news__info-name.
                                Конференция ActiveRetail 2017: как «облачные» продукты помогут белорусской торговле?

                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_2.jpg"   srcset="upload/rectangle-5_2@2x.jpg 2x,     upload/rectangle-5_2@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.news__info-date--photo.
                                    18 февраля 2017

                            a(href="#").news__info-name.
                                Мы расширили линейку тарифов Битрикс-хостинга!


                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_3.jpg"   srcset="upload/rectangle-5_3@2x.jpg 2x,     upload/rectangle-5_3@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.news__info-date--photo.
                                    18 февраля 2017

                            a(href="#").news__info-name.
                                Мастер-класс Xelent по 1С: почему франчайзи стоит выбрать «облако»

                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_4.jpg"   srcset="upload/rectangle-5_4@2x.jpg 2x,     upload/rectangle-5_4@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.news__info-date--photo.
                                    18 февраля 2017

                            a(href="#").news__info-name.
                                Xelent вошла в ТОП-3 российских облачных поставщиков согласно исследованию IDC

                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_5.jpg"   srcset="upload/rectangle-5_5@2x.jpg 2x,     upload/rectangle-5_5@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.news__info-date--photo.
                                    18 февраля 2017

                            a(href="#").news__info-name.
                                Эксперт Xelent рассказал журналу "Безопасность деловой информации" об архитектуре G-Cloud в облаках


                    .col-lg-4.col-md-6.news__item.js-height
                        .news__image-wrap
                            img(src="upload/rectangle-5_6.jpg"   srcset="upload/rectangle-5_6@2x.jpg 2x,     upload/rectangle-5_6@3x.jpg 3x")
                        .news__inner-wrapper
                            .news__info-wrap.clearfix
                                .news__info-date.news__info-date--photo.
                                    18 февраля 2017

                            a(href="#").news__info-name.
                                Мастер-класс по BI-системе QlikView: от неудобных отчётов к настоящей аналитике

        .container.text-center
            ul.pagination.news__pagination
                li
                    a(href="#").active  1
                li
                    a(href="#") 2
                li
                    a(href="#") 3
                li
                    a(href="#") 4
                li
                    a(href="#") 5
                li
                    a(href="#") ...
                li
                    a(href="#") 36
                li
                    a(href="#") 37
                li
                    a(href="#") 38
                li.pagination__nav-btn.next
                    a(href="#")
                        +icon('next')
