.section-dft.section-dft--border
    .container
        a(href="#").shares-banner
            img(src="upload/shares.jpg" srcset="upload/shares@2x.jpg 2x, upload/shares@3x.jpg 3x")
    .container
        ul.breadcrumbs
            li
                a(href="#").breadcrumbs__link Главная
            li
                a(href="#").breadcrumbs__link Услуги
            li
                a(href="#").breadcrumbs__link Cloud
    .container
        h1 Принципы работы компании
        p.
            «OOO «СДН» (SDN)» работает в зарождающейся сфере онлайн-образования. Сегодня это - открытый космос. Здесь нет стандартов и формул успеха. Есть - поиск и эксперимент. Существующие подходы к образованию стремительно устаревают. Новые концепции, методики и инструменты образования предстоит создать нам, первопроходцам этого направления. Вам тоже интересна тема образования будущего? Вы хотите создавать его вместе с нами? Пишите!
        .vacancy__principles
            .row
                .col-md-6.services__bonus-item.js-height
                    .row
                        .col-xl-4.col-lg-5
                            .why-us__image-wrap
                                img(src="upload/vacancy-illustartion-1.svg")
                        .col-xl-8.col-lg-7
                            .why-us__title.
                                Карьера
                            .service-page__text
                                p.
                                    В Компании разработана Программа адаптации для вновь принятых работников, которая поможет новому сотруднику проще адаптироваться в коллективе. Позитивная и дружеская атмосфера позволит быстро освоиться на новом рабочем месте.


                .col-md-6.services__bonus-item.js-height
                    .row
                        .col-xl-4.col-lg-5
                            .why-us__image-wrap
                                img(src="upload/vacancy-illustartion-2.svg")
                        .col-xl-8.col-lg-7
                            .why-us__title.
                                Компетенции
                            .service-page__text
                                p.
                                    Дата Центр в Санкт-Петербурге – самая крупная и современная в Северо-Западном регионе и одна из лучших в Европе технологическая площадка. А значит, выбирая карьеру в ООО «СДН», вы обеспечиваете свое будущее на годы вперед!


                .col-md-6.services__bonus-item.js-height
                    .row
                        .col-xl-4.col-lg-5
                            .why-us__image-wrap
                                img(src="upload/vacancy-illustartion-3.svg")
                        .col-xl-8.col-lg-7
                            .why-us__title.
                                Наставничество
                            .service-page__text
                                p.
                                    Каждый сотрудник ООО «СДН» приобретает профессиональный опыт и навыки, которыми он делится с коллегами и новичками. Наставничество является неотъемлемой составляющей роста компании и развития корпоративной культуры.


                .col-md-6.services__bonus-item.js-height
                    .row
                        .col-xl-4.col-lg-5
                            .why-us__image-wrap
                                img(src="upload/vacancy-illustartion-4.svg")
                        .col-xl-8.col-lg-7
                            .why-us__title.
                                Работа в перспективной компании
                            .service-page__text
                                p.
                                    Наша компания молодая и перспективная, а значит перед вами открываются возможности для быстрого карьерного роста.

                .col-md-6.services__bonus-item.js-height
                    .row
                        .col-xl-4.col-lg-5
                            .why-us__image-wrap
                                img(src="upload/vacancy-illustartion-5.svg")
                        .col-xl-8.col-lg-7
                            .why-us__title.
                                Вакансии
                            .service-page__text
                                p.
                                    Мы привлекаем на работу в Компанию лучших специалистов – грамотных профессионалов с активной жизненной позицией. Эффективная команда – основные ценности, которые лежат в основе отношений Компании со своими сотрудниками.

.section-dft.section-dft--border.vacancy
    .container
        .text-center
            h3.color-grey.vacancy__title Вакансии
    .container.js-tab-wrapper
        .row
            .col-lg-3.vacancy__aside-wrapper
                .vacancy__aside
                    .vacancy__aside-head Вакансии отдела:
                    .vacancy__aside-list
                        a(href="#vacancy-1").vacancy__aside-link.js-tab-link.active Продаж
                        a(href="#vacancy-2").vacancy__aside-link.js-tab-link Маркетинга
                        a(href="#vacancy-3").vacancy__aside-link.js-tab-link Закупок
                        a(href="#vacancy-4").vacancy__aside-link.js-tab-link Обслуживания
                        a(href="#vacancy-5").vacancy__aside-link.js-tab-link Эксплуатации
                        a(href="#vacancy-6").vacancy__aside-link.js-tab-link Все
                .text-center
                    a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft.btn-dft--border Хочу у вас работать!
            .col-lg-8.col-lg-offset-1
                .vacancy__body#vacancy-1.active.js-acc-wrapper.js-tab-item
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link.active
                            | Менеджер по продажам
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body(style="display:block;")
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Требование к кандидату
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам (VIP клиенты)
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам интернет-рекламы
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться

                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам (веб-сайтов)
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться

                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам в Отдел по работе с партнерами
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                .vacancy__body#vacancy-2.js-acc-wrapper.js-tab-item

                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам (VIP клиенты)
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам интернет-рекламы
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться

                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам (веб-сайтов)
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться

                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам в Отдел по работе с партнерами
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                .vacancy__body#vacancy-3.js-acc-wrapper.js-tab-item
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link.active
                            | Менеджер по продажам
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body(style="display:block;")
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам интернет-рекламы
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться

                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам (веб-сайтов)
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться

                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам в Отдел по работе с партнерами
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                .vacancy__body#vacancy-4.js-acc-wrapper.js-tab-item
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link.active
                            | Менеджер по продажам
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body(style="display:block;")
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам (VIP клиенты)
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам интернет-рекламы
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться

                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам (веб-сайтов)
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться

                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам в Отдел по работе с партнерами
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                .vacancy__body#vacancy-5.js-acc-wrapper.js-tab-item
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link.active
                            | Менеджер по продажам
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body(style="display:block;")
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам (VIP клиенты)
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам интернет-рекламы
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться

                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам (веб-сайтов)
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться

                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам в Отдел по работе с партнерами
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                .vacancy__body#vacancy-6.js-acc-wrapper.js-tab-item
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link.active
                            | Менеджер по продажам
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body(style="display:block;")
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам (VIP клиенты)
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам интернет-рекламы
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться

                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам (веб-сайтов)
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться

                    .vacancy__item
                        a(href="#").vacancy__item-head.js-acc-link
                            | Менеджер по продажам в Отдел по работе с партнерами
                            span.vacancy__item-icon
                                span
                        .vacancy__item-inner.js-acc-body
                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            .vacancy__item-inner-title Описание вакансии
                            ul.list-dft
                                li.
                                    продажа напольных грязезащитных покрытий (премиум сегмент) американской компании 3М,
                                li.
                                    активный поиск клиентов в определённом сегменте (гостиницы),
                                li.
                                    грамотное ведение переговоров, выезд к клиенту на объект,
                                li.
                                    получение заказа, подготовка коммерческих предложений,
                                li.
                                    отслеживание этапов сделки, согласование с заказчиком

                            a(data-fancybox data-src="#callback-pop-up" href="javascript:;").btn-dft Откликнуться
